.gallery img {
    width: 100%; /* Make the image take the full width of its container */
    max-width: 200px; /* Set a maximum width for desktop */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

@media (max-width: 800px) {
    .gallery img {
        max-width: 150px; /* Smaller max width for medium screens */
    }
}

@media (max-width: 500px) {
    .gallery img {
        max-width: 100%; /* Full width on small screens */
        height: auto; /* Maintain aspect ratio */
    }
}
